head
meta(http-equiv="content-type", content="charset=UTF-8")
link(rel="shortcut icon", href="favicon.ico")
	| <!--[if gt IE 8]><!-->
link(href='/css/style.css', rel='stylesheet')
	| <!--<![endif]--><!--[if lt IE 9]>
link(href='/css/style-ie.css', rel='stylesheet')
	| <![endif]-->