$body-bg = #fafafa
$text-color = #333

$red = red
$green = green
$blue = blue
$brown = brown


$font-size-base = 13px
$line-height-base = 18px

$font-family-sans-serif = "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif = Georgia, "Times New Roman", Times, serif;
$font-family-monospace = Menlo, Monaco, Consolas, "Courier New", monospace;

$font-family-base = $font-family-sans-serif;